@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --greenVogue950: #062949;
  --greenVogue900: #094371;
  --blueVogue400: #33affd;
  --blueVogue200: #b8e1ff;
  --emerald500: #1dc072;
  --emerald100: #dbfdec;
  --darkBlue: #082a44;
  --yellow: #ffd60a;
  --background: #ecfbff;
  --white100: #efefef;
  --white200: #dcdcdc;
  --gray600: #656565;
}

/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
body a {
  color: white;
}

/* Global Styles */

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Header, default layout */

header {
  position: absolute;
  display: flex;
  max-width: 1100px;
  background-color: transparent;
  justify-content: space-between;
  left: 0;
  top: 36px;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}

nav {
  font: 400 1rem;
  line-height: 130%;
}

/* Hero Section */

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.hero-text h1 {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -2.32px;
}

/* Video as background */

.video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(0deg, #062949 0, rgba(6, 41, 73, 0) 100%);
}

.welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  padding: 10px 16px;
  border-radius: 10px;
  background-color: #094371;
  text-transform: uppercase;
}

.overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  border-radius: 10px;
  opacity: 0.9;
}

.shadow-gradient {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #ecfbff 100%);
}

/* BOX SHADOWS */

.testimonialshadow {
  box-shadow: 59px 54px 22px 0px rgba(0, 0, 0, 0),
    38px 34px 21px 0px rgba(0, 0, 0, 0), 21px 19px 17px 0px rgba(0, 0, 0, 0.02),
    10px 9px 13px 0px rgba(0, 0, 0, 0.03), 2px 2px 7px 0px rgba(0, 0, 0, 0.03);
}

.paymentshadow {
  box-shadow: 52px 47px 20px 0px rgba(0, 0, 0, 0),
    33px 30px 18px 0px rgba(0, 0, 0, 0), 19px 17px 15px 0px rgba(0, 0, 0, 0.02),
    8px 7px 11px 0px rgba(0, 0, 0, 0.03), 2px 2px 6px 0px rgba(0, 0, 0, 0.03);
}

.aboutpaymentshadow {
  box-shadow: 2px 2px 6px 0px rgba(72, 75, 87, 0.06),
    16px 16px 32px 0px rgba(92, 108, 123, 0.1);
}

/*Social media shadows*/

.midphotoshadow {
  box-shadow: -31.55px 71.999px 21.842px 0px rgba(0, 0, 0, 0),
    -20.224px 46.112px 20.224px 0px rgba(0, 0, 0, 0.01),
    -11.326px 25.887px 16.988px 0px rgba(0, 0, 0, 0.03),
    -4.854px 11.326px 12.944px 0px rgba(0, 0, 0, 0.05),
    -1.618px 3.236px 7.281px 0px rgba(0, 0, 0, 0.06);
}

.leftphotoshadow {
  box-shadow: -46.921px 105.976px 32.359px 0px rgba(0, 0, 0, 0),
    -29.932px 67.954px 29.932px 0px rgba(0, 0, 0, 0.01),
    -16.988px 38.022px 25.078px 0px rgba(0, 0, 0, 0.05),
    -7.281px 16.988px 18.606px 0px rgba(0, 0, 0, 0.09),
    -1.618px 4.045px 10.517px 0px rgba(0, 0, 0, 0.1);
}

.rightphotoshadow {
  box-shadow: -24.269px 55.01px 16.988px 0px rgba(0, 0, 0, 0),
    -15.371px 34.786px 15.371px 0px rgba(0, 0, 0, 0.01),
    -8.899px 19.415px 12.944px 0px rgba(0, 0, 0, 0.03),
    -4.045px 8.899px 9.708px 0px rgba(0, 0, 0, 0.05),
    -0.809px 2.427px 5.663px 0px rgba(0, 0, 0, 0.06);
}

.socialmediabtnshadow {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
}
