@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* Reset CSS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
body a {
  color: white;
  font-family: "Poppins", sans-serif;
}

/* Global Styles */

.container {
  max-width: 1100px;
  margin: 0 auto;
}

/* Header, default layout */

header {
  position: absolute;
  display: flex;
  max-width: 1100px;
  background-color: transparent;
  justify-content: space-between;
  left: 0;
  top: 36px;
  right: 0;
  margin: 0 auto;
  z-index: 2;
}

.header-button {
  letter-spacing: 1.22px;
  padding: 10px 16px;
  color: #062949;
  background-color: #ffd60a;
  border-radius: 10px;
  font-weight: 500;
}

nav {
  font: 400 1rem "Poppins", sans-serif;
  line-height: 130%;
}

/* Hero Section */

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.hero-text h1 {
  text-align: center;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
  letter-spacing: -2.32px;
}

/* Video as background */

.video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(0deg, #062949 0, rgba(6, 41, 73, 0) 100%);
}

.welcome-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  padding: 10px 16px;
  border-radius: 10px;
  background-color: #094371;
  text-transform: uppercase;
}
